eureka:
  client:
    service-url:
      defalultZone: http://localhost:8761/eureka/



server:
  port: 8765

spring:
  application:
    name: service-feign

feign.hystrix.enabled: true
