spring:
   profiles:
    active: prod
   datasource:
     driver-class-name: com.mysql.jdbc.Driver
     url: jdbc:mysql://localhost:3306/dbgirl
     username: root
     password: root
   jpa:
    hibernate:
      ddl-auto: update
    show-sql: true



